{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}Подтверждение E-mail{% endblock %}


{% block content %}
    <div style="text-align: center; margin-top: 30px"><h1>Подтверждение E-mail</h1></div>

    {% if confirmation %}

        {% user_display confirmation.email_address.user as user_display %}

        <div class="ui message" style="margin-left: 40px; margin-right: 40px; text-align: center;">
            <p>{% blocktrans with confirmation.email_address.email as email %} Пожалуйста, подтвердите
                <a href="mailto:{{ email }}">{{ email }}</a> для пользователя {{ user_display }}.{% endblocktrans %}</p>
        </div>
    <div id="main-signup-content" class="ui middle massive form">

        <form id="mail_confirm" class="ui form" method="POST"
              action="{% url 'account_confirm_email' confirmation.key %}">
            {% csrf_token %}

            <div class="ui primary huge submit button">Подтвердить</div>


            {% if form.errors %}
                <div class="ui error message" style="display: block;">
                    <div class="header">
                        Допущены следующие ошибки
                    </div>
                    <ul class="list">
                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            {% endif %}
        </form>
    </div>
    {% else %}

        {% url 'account_email' as email_url %}
        <div class="ui error message" style="margin-left: 40px; margin-right: 40px; text-align: center;">
            <p>{% blocktrans %}Ссылка на подтверждение данного email недействительна. Пожалуйста,
                <a href="{{ email_url }}">перейдите по ссылке, чтобы получить новую ссылку</a>.{% endblocktrans %}</p>
        </div>

    {% endif %}

{% endblock %}
