{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}Авторизация{% endblock %}

{% block content %}
    <div style="text-align: center; margin-top: 30px"><h1>Авторизация</h1></div>
    <div id="main-signup-content" class="ui middle center aligned grid">
        <form id="allauth_sign_up" class="ui form segment form-lay" method="post" action="{% url 'account_login' %}">
            {% csrf_token %}
            <div class="field">
                <label>Ваш E-mail</label>
                <input id="id_login" placeholder="E-mail" name="login" type="text" required>
            </div>
            <div class="field">
                <label>Ваш пароль</label>
                <input id="id_password" name="password" type="password" required>
            </div>
            <div class="ui primary submit button">Войти</div>
            <a href="{% url 'account_reset_password' %}">Забыли пароль?</a>
            <div class="ui error message"></div>
            {% if form.errors %}
                <div class="ui error message" style="display: block;">
                    <div class="header">
                        Допущены следующие ошибки
                    </div>
                    <ul class="list">
                        {% if form.errors %}
                         <li>Неверный логин или пароль.</li>
                        {% endif %}
                    </ul>
                </div>
            {% endif %}
        </form>
    </div>
{% endblock %}