{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div style="text-align: center; margin-top: 30px"><h1>Сменить пароль</h1></div>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <div class="ui error message" style="margin-left: 40px; margin-right: 40px; text-align: center;">
            Ссылка для смены пароля недействительна, возможно, она была уже использовата. Пожалуйста,
            <a href="{{ passwd_reset_url }}">перейдите</a> для получения новой ссылки.
        </div>
    {% else %}
        {% if form %}
            <div id="main-signup-content" class="ui middle massive form">
                <form id="reset-from-key" class="ui form" method="post" action="{{ action_url }}">
                    {% csrf_token %}
                    <div class="field">
                        <label>Введите новый пароль</label>
                        <input id="id_password1" name="password1" type="password" required>
                    </div>
                    <div class="field">
                        <label>Повторите еще раз пароль</label>
                        <input id="id_password2" name="password2" type="password" required>
                    </div>


                    <div class="ui primary submit button">Сменить пароль</div>

                    <div class="ui error message"></div>
                    {% if form.errors %}
                        <div class="ui error message" style="display: block;">
                            <div class="header">
                                Допущены следующие ошибки
                            </div>
                            <ul class="list">
                                {% if form.errors %}
                                    {% for field in form %}
                                        {% for error in field.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
                    {% endif %}
                </form>
            </div>
        {% else %}
            <div class="ui positive message" style="margin-left: 40px; margin-right: 40px; text-align: center;">
                Ваш пароль успешно изменен.
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
