{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}Подтвердите email{% endblock %}

{% block content %}
    <div style="text-align: center; margin-top: 30px"><h1>Подтвердите email</h1></div>
    <div class="ui positive message" style="margin-left: 40px; margin-right: 40px; text-align: center;">
        <p>Мы отправили вам e-mail с подтверждением. Для завершения процесса регистрации перейдите по указанной ссылке.
            Если вы не получили наше сообщение в течение нескольких минут, пожалуйста, свяжитесь с нами.</p>
    </div>
{% endblock %}
