<!DOCTYPE html>
<html lang="ru">
{% load staticfiles watermark file_utils %}
<head>
    {% include 'metatags.html' %}
</head>
<body>
{% include 'block-header.html' %}
{% include 'block-modals.html' %}
{% include 'block-heading-section.html' %}
<div class="column">
    <h1 class="ui image header">
        <div class="content enter-form-header">Мои объявления</div>
    </h1>
</div>
<ul id="waterfall">
    {% for post in posts %}
        <li>
            <div>
                <div class="ui card">

                    <div class="image">
                        {% if post.main_photo.url|file_exists %}
                            <img src="{{ post.main_photo.url|watermark:"dpr_sale_watermark,position=C,scale=0.1,opacity=85"}}">
                        {% else %}
                            <img src="/uploads/img/2017/10/25/watermarked/d6d8a17abcf4baf5de7138cf10bbc5c92e6d42aa/logotip.jpg">
                        {% endif %}
                        {% if post.is_top %}
                            <div class="ui orange ribbon label"><i class="star icon"></i> В топе</div>
                        {% endif %}
                        {% if post.is_important %}
                            <div class="ui red right ribbon label"><i class="warning icon"></i> Срочно</div>
                        {% endif %}
                    </div>

                    <div class="content">
                        <a class="header" href="{% url 'post_view' post.id %}">{{ post.title }}</a>
                        <div class="meta">
                            <span class="date">{{ post.category.name }}</span>
                        </div>
                        <div class="meta">
                            <span class="date">{{ post.district.city.name }}, {{ post.district.name }} р-н</span>
                        </div>
                        <div class="meta">
                            <span class="date">{{ post.created }}</span>
                        </div>
                    </div>
                    <div class="extra content">
                        <a><i class="{% if  post.currency == 0 %}ruble{% elif post.currency == 1 %}dollar{% endif %} icon"></i> {{ post.price }}
                        </a>
                    </div>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>

{% include 'block-scripts.html' %}
</body>
</html>