<!DOCTYPE html>
<html lang="ru"> {% load staticfiles %}
<head>
    <meta charset="utf-8">
    <title>Первый Риэлторский Центр</title>
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=5">
    <link rel="shortcut icon" href="{% static 'img/favicon/favicon.ico' %}" type="image/x-icon">
    <meta name="theme-color" content="#000">
    <meta name="msapplication-navbutton-color" content="#000">
    <meta name="apple-mobile-web-app-status-bar-style" content="#000">
    <style>body {
        opacity: 0;
        overflow-x: hidden
    }

    html {
        background-color: #fff
    }</style>

    {% include 'signup-critical.html' %}

</head>
<body>
{% include 'block-header.html' %}
{% include 'block-heading-section.html' %}
{% include 'block-modals.html' %}
<div id="divider" class="ui horizontal divider custom-divider">Регистрация</div>

<div id="main-signup-content" class="ui middle center aligned grid">
    <form id="sign_up_form" class="ui form segment form-lay" method="post"
          action="{% url 'account_signup' %}">
        {% csrf_token %}
        <p>Расскажите нам о себе</p>
        <div class="two fields">
            <div class="field">
                <label>Ваше имя</label>
                <input id="first_name" placeholder="Имя" name="first_name" type="text">
            </div>
            <div class="field">
                <label>Ваша фамилия</label>
                <input id="last_name" placeholder="Фамилия" name="last_name" type="text">
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                <label>Ваш логин</label>
                <input id="id_username" placeholder="Логин" name="username" type="text">
            </div>
            <div class="field">
                <label>Ваш E-mail</label>
                <input id="id_email" placeholder="E-mail" name="email" type="text">
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                <label>Ваш пароль</label>
                <input id="password1" name="password1" type="password">
            </div>
            <div class="field">
                <label>Повторите пароль</label>
                <input id="password2" name="password2" type="password">
            </div>
        </div>
        <div class="field">
            <label>Контактный номер</label>
            <input id="phone" name="phone" type="text" placeholder="+38-(xxx)-xxx-xx-xx">
        </div>
        <div class="field">
            <label>Кто вы?</label>
            <select id="user_type" name="user_type" class="ui dropdown">
                <option value="">Тип пользователя</option>
                <option value="0">Частное лицо</option>
                <option value="1">Риэлтор</option>
            </select>
        </div>
        <div class="ui primary submit button">Зарегистрироваться</div>
        <div class="ui error message"></div>
    </form>
</div>
{% include 'block-footer.html' %}
{% include 'block-scripts.html' %}
</body>
</html>