<!DOCTYPE html>
<html lang="ru">
{% load staticfiles %}
<head>

    <meta charset="utf-8">

    <title>Первый Риелторский Центр</title>
    <meta name="description" content="">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="shortcut icon" href="{% static 'img/favicon/favicon.ico' %}" type="image/x-icon">
    <!--<link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png">-->
    <!--<link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">-->
    <!--<link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">-->

    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#000">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#000">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#000">

    <link rel="stylesheet" href="{% static 'UniteGallery/css/unite-gallery.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'UniteGallery/themes/default/ug-theme-default.css' %}" type="text/css">

    <style>body {
        opacity: 0;
        overflow-x: hidden;
    }

    html {
        background-color: #fff;
    }</style>

</head>

<body>

{% include 'block-header.html' %}

<div id="main-content" class="container">
    <div id="sticky_parent" class="row">
        <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
            <div id="gallery" style="display:none;">
                {% for photo in post.photos.all %}
                    <img src="{{ photo.image_file.url }}"
                         data-image="{{ photo.image_file.url }}">
                {% endfor %}
            </div>
        </div>
        <div id="sticky_child" class="col-md-4 col-lg-4 col-sm-12 col-xs-12 ui sticky">
            <div id="main-card-wrapper" class="ui cards">
                <div class="card">
                    <div class="content">
                        <div class="header">{{ post.title }}</div>
                        <div class="meta">{{ post.district.city.name }} {{ post.district.name }}</div>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <div class="header">{{ post.price }} <i class="{% if  post.currency == 0 %}ruble{% elif  post.currency == 1 %}dollar{% endif %} icon"></i></div>
                        <div class="meta">Категория: {{ post.category.name }}</div>
                    </div>
                </div>
            </div>
            <div id="get_number" class="fluid ui button massive" data-title="{{ owner.phone }}"
                 data-position="bottom center" data-variation="huge">
                <i class="call icon"></i> Показать номер телефона
            </div>
            {% if user_is_owner %}
            <div id="close_ad" class="fluid ui button massive">
                <i class="window close icon"></i> Удалить объявление
            </div>
            {% endif %}
        </div>
        <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
            <div id="secondary-card-wrapper" class="ui cards">
                <div class="card">
                    <div id="secondary-card-content" class="content">
                        <div class="header">
                            Основная информация
                        </div>
                        <div class="meta">Создатель объявления: <label>{{ post.owner.custom.get_type_display }}</label></div>
                        <div class="meta">Количество комнат: <label>{{ post.rooms }}</label></div>
                        <div class="meta">Этажей: <label>{{ post.floor }}</label></div>
                        <div class="meta">Жилая площадь: <label>{{ post.square }} м<sup>2</sup></label></div>
                    </div>
                </div>
                <div class="card">
                    <div id="added-card-content" class="content">
                        <div class="header">
                            Дополнительная информация
                        </div>
                        <div class="meta">Этажность: <label>{{ post.storeys }}</label></div>
                    </div>
                </div>
                <div class="card">
                    <div id="description-card-content" class="content">
                        <div class="header">
                            Описание
                        </div>
                        <div class="meta">{{ post.description }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% include 'block-footer.html' %}
{% include 'block-scripts.html' %}

</body>
</html>
