<footer class="footer">
    <div class="container">
        <div class="row footer-wrapper">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 footer-info">
                <span>+38-(066)-119-43-46</span>
            </div>
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 footer-info">
                <span>+38-(071)-330-69-59</span>
            </div>
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 footer-info">
                <span>Email: info@dpr.sale</span>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row footer-wrapper">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 footer-info footer-link">
                <a href="https://vk.com/dprsale" target="_blank" rel="noopener"><i class="vk icon"></i></a>
            </div>
        </div>
    </div>
</footer>