<!DOCTYPE html>
<html lang="ru">
{% load staticfiles %}
<head>

    <meta charset="utf-8">

    <title>Модерирование</title>
    <meta name="description" content="">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="shortcut icon" href="{% static 'img/favicon/favicon.ico' %}" type="image/x-icon">
    <!--<link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png">-->
    <!--<link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">-->
    <!--<link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">-->

    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#000">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#000">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#000">

    <style>body {
        opacity: 0;
        overflow-x: hidden;
    }

    html {
        background-color: #fff;
    }</style>

</head>

<body>

{% include 'block-header.html' %}


<div class="container">
    <div class="row">
        <button id="dashboard-add-post" class="ui basic large button ">
            <i class="add circle icon"></i>
            Добавить объявление
        </button>
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 global-page">
            <div id="global-page">
                <div class="ui secondary menu">
                    <a class="item active" data-tab="ad">Объявления</a>
                    <a class="item" data-tab="account">Аккаунты</a>
                    <a class="item" data-tab="closed">Закрытые сделки</a>
                </div>
                <div class="ui tab segment active" data-tab="ad">
                    <ul id="ad-wtrfl">
                        {% for post in posts_not_verified %}
                            <li>
                                <div>
                                    <div class="ui card">
                                        <div class="content">
                                            <div class="header">
                                                <a href="{% url 'post_view' post.id %}">{{ post.title }}</a>
                                            </div>
                                            <div class="meta">
                                                Тип: {{ post.category.name }}
                                            </div>
                                            <div class="meta">
                                                Номер объявления: {{ post.id }}
                                            </div>
                                            <div class="meta">
                                                <span class="date">{{ post.created }}</span>
                                            </div>
                                        </div>
                                        <div class="extra content">
                                            <div class="ui two buttons">
                                                <button class="positive ui button accept_ad_button">Принять</button>
                                                <button class="negative ui button decline_ad_button">Удалить</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="ui tab segment" data-tab="account">
                    <ul id="account-wtrfl">
                        {% for account in accounts %}
                            <li>
                                <div>
                                    <div class="ui card">
                                        <div class="content">
                                            <div class="header">
                                                 {{ account.first_name }} {{ account.last_name }}
                                            </div>
{#                                            <div class="meta">#}
{#                                                Тип: {{ post.owner.custom.get_type_display }}#}
{#                                            </div>#}
                                            <div class="description">
                                                E-mail: {{ account.email }}
                                            </div>
                                            <div class="description">
                                                Телефон: {{ account.custom.phone }}
                                            </div>
                                        </div>
                                        <div class="extra content">
                                            <div class="ui two buttons">
                                                <button class="positive ui button accept_acc_button">Принять</button>
                                                <button class="negative ui button decline_acc_button">Отклонить</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                        <!--todo Хранить данные в data атрибутах для быстрого доступа-->
                    </ul>
                </div>
                <div class="ui tab segment" data-tab="closed">
                    <ul id="closed-wtrfl">
                        {% for post in posts_closed %}
                            <li>
                                <div>
                                    <div class="ui card">
                                        <div class="content">
                                            <div class="header">
                                                <a href="{% url 'post_view' post.id %}">{{ post.title }}</a>
                                            </div>
                                            <div class="meta">
                                                Тип: {{ post.category.name }}
                                            </div>
                                            <div class="meta">
                                                Номер объявления: {{ post.id }}
                                            </div>
                                            <div class="description">
                                                Причина: {{ post.reason }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'block-scripts.html' %}

</body>
</html>
