<!DOCTYPE html>
<html lang="ru">

<head>

    <meta charset="utf-8">

    <title>Модерирование</title>
    <meta name="description" content="">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
    <!--<link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png">-->
    <!--<link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">-->
    <!--<link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">-->

    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#000">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#000">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#000">

    <style>body {
        opacity: 0;
        overflow-x: hidden;
    }

    html {
        background-color: #fff;
    }</style>

</head>

<body>

<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 global-page">
            <div id="global-page">
                <div class="ui secondary menu">
                    <a class="item active" data-tab="ad">Объявления</a>
                    <a class="item" data-tab="account">Аккаунты</a>
                    <a class="item" data-tab="closed">Закрытые сделки</a>
                </div>
                <div class="ui tab segment active" data-tab="ad">
                    <ul id="ad-wtrfl">
                        <li>
                            <div>
                                <div class="ui card">
                                    <div class="content">
                                        <div class="header">
                                            <a href="#">Ссылка на объявление</a>
                                        </div>
                                        <div class="meta">
                                            Тип: Объявление от риелтора
                                        </div>
                                        <div class="description">
                                            Вчера 18:01
                                        </div>
                                    </div>
                                    <div class="extra content">
                                        <div class="ui two buttons">
                                            <button class="positive ui button accept_ad_button">Принять</button>
                                            <button class="negative ui button decline_ad_button">Отклонить</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div>
                                <div class="ui card">
                                    <div class="content">
                                        <div class="header">
                                            <a href="#">Ссылка на объявление</a>
                                        </div>
                                        <div class="meta">
                                            Тип: Объявление от риелтора
                                        </div>
                                        <div class="description">
                                            Вчера 18:01
                                        </div>
                                    </div>
                                    <div class="extra content">
                                        <div class="ui two buttons">
                                            <button class="positive ui button accept_ad_button">Принять</button>
                                            <button class="negative ui button decline_ad_button">Отклонить</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div>
                                <div class="ui card">
                                    <div class="content">
                                        <div class="header">
                                            <a href="#">Ссылка на объявление</a>
                                        </div>
                                        <div class="meta">
                                            Тип: Объявление от риелтора
                                        </div>
                                        <div class="description">
                                            Вчера 18:01
                                        </div>
                                    </div>
                                    <div class="extra content">
                                        <div class="ui two buttons">
                                            <button class="positive ui button accept_ad_button">Принять</button>
                                            <button class="negative ui button decline_ad_button">Отклонить</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div>
                                <div class="ui card">
                                    <div class="content">
                                        <div class="header">
                                            <a href="#">Ссылка на объявление</a>
                                        </div>
                                        <div class="meta">
                                            Тип: Объявление от риелтора
                                        </div>
                                        <div class="description">
                                            Вчера 18:01
                                        </div>
                                    </div>
                                    <div class="extra content">
                                        <div class="ui two buttons">
                                            <button class="positive ui button accept_ad_button">Принять</button>
                                            <button class="negative ui button decline_ad_button">Отклонить</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div>
                                <div class="ui card">
                                    <div class="content">
                                        <div class="header">
                                            <a href="#">Ссылка на объявление</a>
                                        </div>
                                        <div class="meta">
                                            Тип: Объявление от риелтора
                                        </div>
                                        <div class="description">
                                            Вчера 18:01
                                        </div>
                                    </div>
                                    <div class="extra content">
                                        <div class="ui two buttons">
                                            <button class="positive ui button accept_ad_button">Принять</button>
                                            <button class="negative ui button decline_ad_button">Отклонить</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
                <div class="ui tab segment" data-tab="account">
                    <ul id="account-wtrfl">
                        <li>
                            <div>
                                <div class="ui card">
                                    <div class="content">
                                        <div class="header">
                                            Фоминых Игорь Дмитриевич
                                        </div>
                                        <div class="meta">
                                            Тип: Риелтор
                                        </div>
                                        <div class="description">
                                            E-mail: IGOS.321@gmail.com
                                        </div>
                                        <div class="description">
                                            Телефон: +1488-1337-228-69
                                        </div>
                                    </div>
                                    <div class="extra content">
                                        <div class="ui two buttons">
                                            <button class="positive ui button accept_acc_button">Принять</button>
                                            <button class="negative ui button decline_acc_button">Отклонить</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div>
                                <div class="ui card">
                                    <div class="content">
                                        <div class="header">
                                            Рудак Леня
                                        </div>
                                        <div class="meta">
                                            Тип: Риелтор
                                        </div>
                                        <div class="description">
                                            E-mail: IGOS.321@gmail.com
                                        </div>
                                        <div class="description">
                                            Телефон: +1488-1337-228-69
                                        </div>
                                    </div>
                                    <div class="extra content">
                                        <div class="ui two buttons">
                                            <button data-who="Рудак Леня" class="positive ui button accept_acc_button">Принять</button>
                                            <button class="negative ui button decline_acc_button">Отклонить</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!--todo Хранить данные в data атрибутах для быстрого доступа-->
                    </ul>
                </div>
                <div class="ui tab segment" data-tab="closed">
                    <ul id="closed-wtrfl">
                        <li>
                            <div>
                                <div class="ui card">
                                    <div class="content">
                                        <div class="header">
                                            <a href="#">Ссылка на объявление</a>
                                        </div>
                                        <div class="meta">
                                            Статус: Закрыто
                                        </div>
                                        <div class="meta">
                                            Номер объявления: 1488322228911
                                        </div>
                                        <div class="description">
                                            Причина: Очень веская причина закрыть объявление
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div>
                                <div class="ui card">
                                    <div class="content">
                                        <div class="header">
                                            <a href="#">Ссылка на объявление</a>
                                        </div>
                                        <div class="meta">
                                            Статус: Закрыто
                                        </div>
                                        <div class="meta">
                                            Номер объявления: 1488322228911
                                        </div>
                                        <div class="description">
                                            Причина: Очень веская причина закрыть объявление
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div>
                                <div class="ui card">
                                    <div class="content">
                                        <div class="header">
                                            <a href="#">Ссылка на объявление</a>
                                        </div>
                                        <div class="meta">
                                            Статус: Закрыто
                                        </div>
                                        <div class="meta">
                                            Номер объявления: 1488322228911
                                        </div>
                                        <div class="description">
                                            Причина: Очень веская причина закрыть объявление
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div>
                                <div class="ui card">
                                    <div class="content">
                                        <div class="header">
                                            <a href="#">Ссылка на объявление</a>
                                        </div>
                                        <div class="meta">
                                            Статус: Закрыто
                                        </div>
                                        <div class="meta">
                                            Номер объявления: 1488322228911
                                        </div>
                                        <div class="description">
                                            Причина: Очень веская причина закрыть объявление
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div>
                                <div class="ui card">
                                    <div class="content">
                                        <div class="header">
                                            <a href="#">Ссылка на объявление</a>
                                        </div>
                                        <div class="meta">
                                            Статус: Закрыто
                                        </div>
                                        <div class="meta">
                                            Номер объявления: 1488322228911
                                        </div>
                                        <div class="description">
                                            Причина: Очень веская причина закрыть объявление
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div>
                                <div class="ui card">
                                    <div class="content">
                                        <div class="header">
                                            <a href="#">Ссылка на объявление</a>
                                        </div>
                                        <div class="meta">
                                            Статус: Закрыто
                                        </div>
                                        <div class="meta">
                                            Номер объявления: 1488322228911
                                        </div>
                                        <div class="description">
                                            Причина: Очень веская причина закрыть объявление
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="css/main.min.css">
<script src="js/scripts.min.js"></script>
<!--<script src="js/common.min.js"></script>-->

</body>
</html>
