<!DOCTYPE html>
<html lang="ru">
{% load staticfiles watermark %}
<head>

    <meta charset="utf-8">

    <title>Первый Риэлторский Центр</title>
    <meta name="description" content="">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">

    <!--<link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png">-->
    <!--<link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">-->
    <!--<link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">-->

    <link rel="shortcut icon" href="{% static 'img/favicon/favicon.ico' %}">

    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#000">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#000">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#000">

    <style>body {
        opacity: 0;
        overflow-x: hidden;
    }

    html {
        background-color: #fff;
    }</style>

</head>

<body>
{% include 'block-header.html' %}
{% include 'block-modals.html' %}
{% include 'block-heading-section.html' %}

<div class="main-content">

    <div class="container filters">
        <div class="row">
            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12 categories-wrapper">
                <div class="ui form">
                    <div class="field">
                        <div id="category" class="ui selection dropdown custom-ui">
                            <i class="dropdown icon"></i>
                            <div class="default text">Все категории</div>
                            <div class="menu custom-ui">
                                <div class="item" data-value="-1">Все категории</div>
                                {% for category in categories %}
                                    <div class="item" data-value="{{ category.id }}">{{ category.name }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12 regions-wrapper">
                <div class="ui form">
                    <div class="field">
                        <div id="city" class="ui selection dropdown custom-ui">
                            <i class="dropdown icon"></i>
                            <div class="default text">Все города</div>
                            <div class="menu custom-ui">
                                <div class="item" data-value="-1">Все города</div>
                                {% for city in cities %}
                                    <div class="item" data-value="{{ city.id }}">{{ city.name }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12 regions-wrapper">
                <div class="ui form">
                    <div class="field">
                        <div id="district" class="ui selection dropdown custom-ui disabled">
                            <i class="dropdown icon"></i>
                            <div class="default text">Все районы</div>
                            <div id="district-list" class="menu custom-ui">
                                <div class="item" data-value="-1">Все районы</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12 min-price-wrapper">
                <div class="ui form">
                    <div class="two fields">
                        <div class="field">
                            <div class="ui right labeled input">
                                <input id="min_square" type="number" min="0" placeholder="От">
                                <div class="ui basic label">
                                    м
                                    <sup>2</sup>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui right labeled input">
                                <input id="max_square" type="number" min="0" placeholder="До">
                                <div class="ui basic label">
                                    м
                                    <sup>2</sup>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12 walls-wrapper">
                <div class="ui form">
                    <div class="two fields">
                        <div class="field ui input">
                            <input id="min_walls" min="1" max="50" placeholder="Комнат от" type="number">
                        </div>
                        <div class="field ui input">
                            <input id="max_walls" min="1" max="50" placeholder="Комнат до" type="number">
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12 walls-wrapper">
                <div class="ui form">
                    <div class="two fields">
                        <div class="field ui input">
                            <input id="min_floor" min="1" max="50" placeholder="Этаж от" type="number">
                        </div>
                        <div class="field ui input">
                            <input id="max_floor" min="1" max="50" placeholder="Этаж до" type="number">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12 min-price-wrapper">
                <div class="ui form">
                    <div class="field">
                        <div class="ui right labeled input">
                            <input id="min_price" type="number" min="0" placeholder="Цена от">
                            <div class="ui dropdown label custom-label currency currency-filter">
                                <div class="text">RUB</div>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    <div class="item" data-value="0">RUB</div>
                                    <div class="item" data-value="1">USD</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12 min-price-wrapper">
                <div class="ui form">
                    <div class="field">
                        <div class="ui right labeled input">
                            <input id="max_price" type="number" min="0" placeholder="Цена до">
                            <div class="ui dropdown label custom-label currency currency-filter">
                                <div class="text">RUB</div>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    <div class="item" data-value="0">RUB</div>
                                    <div class="item" data-value="1">USD</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-2 col-lg-2 col-sm-4 col-xs-5 buttons-wrapper">
                <div class="ui form">
                    <div class="field">
                        <div id="clear_button" class="ui button special-buttons">
                            Очистить
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-4 col-sm-8 col-xs-7 buttons-wrapper">
                <div class="ui form">
                    <div class="field">
                        <div id="search_button" class="ui button special-buttons">
                            Найти
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <ul id="waterfall">
        {% for post in posts %}
            <li>
                <div>
                    <div class="ui card">
                        <div class="image">

                            <img src="{{ post.main_photo.url|watermark:"dpr_sale_watermark,position=C,scale=0.1,opacity=85"}}">
                            {% if post.is_top %}
                                <div class="ui orange ribbon label">
                                    <i class="star icon"></i>
                                    В топе
                                </div>
                            {% endif %}

                        </div>
                        <div class="content">
                            <a class="header" href="{% url 'post_view' post.id %}">{{ post.title }}</a>
                            <div class="meta">
                                <span class="date">{{ post.category.name }}</span>
                            </div>
                            <div class="meta">
                                <span class="date">{{ post.district.city.name }}, {{ post.district.name }} р-н</span>
                            </div>
                            <div class="meta">
                                <span class="date">{{ post.created }}</span>
                            </div>
                        </div>
                        <div class="extra content">
                            <a>
                                <i class="{% if  post.currency == 0 %}ruble{% elif  post.currency == 1 %}dollar{% endif %} icon"></i>
                                {{ post.price }}
                            </a>
                        </div>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
    <div class="container">
        <div class="row">
            <div hidden id="sorry_bro" class="ui error message"><h2>К сожалению, мы ничего не смогли подобрать для Вас :(</h2></div>
        </div>
    </div>

    <div id="data_loader" class="ui centered inline loader"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-2 col-md-push-5 col-lg-2 col-lg-push-5 col-sm-4 col-sm-push-4 col-xs-6 col-xs-push-3 buttons-wrapper">
                <div class="ui form">
                    <div class="field">
                        <div id="more_button" class="ui button special-buttons">
                            Ещё
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% include 'block-footer.html' %}
{% include 'block-scripts.html' %}

</body>
</html>
