{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}E-mail адрес{% endblock %}

{% block content %}

    <div style="text-align: center; margin-top: 30px"><h1>E-mail адрес</h1></div>

    {% if user.emailaddress_set.all %}
        <div id="main-signup-content" class="ui middle massive form">
            <p>Следующие e-mail адреса прикреплены к вашему аккаунту:</p>

            <form id="email_form" action="{% url 'account_email' %}" class="ui form" method="post">
                {% csrf_token %}

                {% for emailaddress in user.emailaddress_set.all %}
                    <div class="ui radio checkbox" style="font-size:  1.4rem;">
                        <input id="email_radio_{{ forloop.counter }}" type="radio" name="email"
                               {% if emailaddress.primary or user.emailaddress_set.count == 1 %}checked="checked"{% endif %}
                               value="{{ emailaddress.email }}"/>
                        <label for="email_radio_{{ forloop.counter }}"
                               class="{% if emailaddress.primary %}primary_email{% endif %}">
                            {{ emailaddress.email }}
                            {% if emailaddress.verified %}
                                <span class="verified">, подтвержден</span>
                            {% else %}
                                <span class="unverified">, не подтвержден</span>
                            {% endif %}
                            {% if emailaddress.primary %}<span class="primary">, основной</span>{% endif %}
                        </label>
                    </div>
                {% endfor %}
                <div class="buttonHolder" style="margin-top: 30px; padding: 0 40px 0 40px; text-align: center;">

                    <button class="secondaryAction ui button" type="submit"
                            style="background-color: #f6f6f6; font-size: 1.4rem;"
                            name="action_primary">Сделать основным
                    </button>

                    <button class="secondaryAction ui button"  type="submit"
                            style="background-color: #f6f6f6; font-size: 1.4rem; margin-top: 10px;"
                            name="action_send">Отправить подтверждение ещё раз
                    </button>

                    <button class="primaryAction ui button" type="submit" name="action_remove"
                            style="background-color: darkred; color: white; font-size: 1.4rem; margin-top: 10px;">
                        Удалить
                    </button>
                </div>
            </form>
        </div>

    {% else %}
        <div class="ui message" style="margin-left: 40px; margin-right: 40px; text-align: center;">
            В данный момент у Вас нет ни одного E-mail адреса. Для возможности изменения пароля, логина рекомендуется
            добавить E-mail.
        </div>
    {% endif %}


    <div style="text-align: center; margin-top: 30px"><h1>Добавить E-mail адрес</h1></div>

    <div id="main-signup-content1" class="ui middle center aligned grid">
        <form id="add_email" class="ui form segment form-lay" method="POST" action="{% url 'account_email' %}" style="width: 500px">
            {% csrf_token %}

            <div class="field">
                <input id="id_email" placeholder="E-mail" name="email" type="email" required>
            </div>

            <button class="ui primary submit button" name="action_add" >Добавить E-mail</button>

            <div class="ui error message"></div>
            {% if form.errors %}
                <div class="ui error message" style="display: block;">
                    <div class="header">
                        Допущены следующие ошибки
                    </div>
                    <ul class="list">
                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            {% endif %}
        </form>
    </div>


{% endblock %}


{% block extra_body %}
    <script type="text/javascript">
        (function () {
            var message = "{% trans 'Do you really want to remove the selected e-mail address?' %}";
            var actions = document.getElementsByName('action_remove');
            if (actions.length) {
                actions[0].addEventListener("click", function (e) {
                    if (!confirm(message)) {
                        e.preventDefault();
                    }
                });
            }
        })();
    </script>
{% endblock %}
