{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}Сменить пароль{% endblock %}

{% block content %}
    <div style="text-align: center; margin-top: 30px"><h1>Сменить пароль</h1></div>
    <div id="main-signup-content" class="ui middle massive form">

        <form id="pswd-change" class="ui form" method="POST" action="{% url 'account_change_password' %}">
            {% csrf_token %}

            <div class="field">
                <label for="id_oldpassword">Введите старый пароль</label>
                <input id="id_oldpassword" name="oldpassword" type="password" required>
            </div>
            <div class="two fields">
                <div class="field">
                    <label for="id_password1">Введите новый пароль</label>
                    <input id="id_password1" name="password1" type="password" required>
                </div>
                <div class="field">
                    <label for="id_password2">Повторите ещё раз</label>
                    <input id="id_password2" name="password2" type="password" required>
                </div>
            </div>

            <div class="ui primary submit button">Сменить пароль</div>


            {% if form.errors %}
                <div class="ui error message" style="display: block;">
                    <div class="header">
                        Допущены следующие ошибки
                    </div>
                    <ul class="list">
                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            {% endif %}
        </form>
    </div>
{% endblock %}
